# ===== SmartParking Frontend Environment =====

# Backend API URL
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Google OAuth2 Client ID
# Lấy từ: https://console.cloud.google.com/ → APIs & Services → Credentials → Create OAuth 2.0 Client ID
# Chọn Application type: Web application
# Authorized JavaScript origins: http://localhost:5173
# Authorized redirect URIs: http://localhost:5173
VITE_GOOGLE_CLIENT_ID=411473856186-v8mq8i7vem5dogin3qhbp0ff444q0td8.apps.googleusercontent.com

# Facebook App ID
# Lấy từ: https://developers.facebook.com/ → Create App → Settings → Basic → App ID
VITE_FACEBOOK_APP_ID=1511881220350289



# Cấu hình Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=dedalwjni
VITE_CLOUDINARY_UPLOAD_PRESET=parking_cloudinary

# Cấu hình Cloudinary cho Security Exception
VITE_CLOUDINARY_CLOUD_NAME_EXCEPTIONS=dhbxueyjt
VITE_CLOUDINARY_PRESET_EXCEPTIONS=smartparking

# Cấu hình Cloudinary cho Danh sách đen (Blacklist)
# Cần tạo Upload Preset tên "smartparking_blacklist" (Unsigned) trong Cloudinary Console → Settings → Upload
VITE_CLOUDINARY_CLOUD_NAME_BLACKLIST=dhbxueyjt
VITE_CLOUDINARY_PRESET_BLACKLIST=smartparking_blacklist

# Cấu hình Plate Recognizer
VITE_PLATE_RECOGNIZER_TOKEN=79e0efec36ce968171b4a22f89580be8435e5425